@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/img2.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__text a {
    background-color: #2c282ce5;
    border: 2px solid #837e398f;
    color: #ffffff;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image__text a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #3a3a39;
    color: #c1bcb9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.packaging-image {
    margin-top: -2.5rem;
    background-attachment: fixed;
    background-image: url('../img/img3.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(38% 0, 63% 0, 100% 9%, 100% 100%, 0 100%, 0 9%);
}

.packaging-image__text a {
    background-color: #3d3a38c2;
    border: 2px solid #837e398f;
    color: #ffffff;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.packaging-image__text a:hover {
    transform: scale(1.2);
}

.packaging-text {
    background-color: #c7c3c1;
    color: #524d4d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
    padding-bottom: 1rem;
}

.packaging_text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.tutorials-image {
    background-attachment: fixed;
    background-image: url('../img/img1.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorials-image__text a {
    background-color: #2c282ce5;
    border: 2px solid #837e398f;
    color: #ffffff;
    display: inline-block;
    font-size: 2rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.tutorials-image__text a:hover {
    transform: scale(1.2);
}

.footer {
    height: 200px;
    background-color:#474c53;
    color: #7e8896;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: #7e8896;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #a9b4c5;
}